body {
  margin: 0;
  padding: 0;
}


.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}


table {
  border-collapse: collapse; 
  width: 800px;
  height: 200px;
  
  

}


th {
  background-color: #48dbfb; 
   
  padding: 10px; 
  text-align: center;
}


td {
  padding: 1px; 
  text-align: center;
}


td.in-transit {
  background-color: #48dbfb;
  color: white; 
}

tr:nth-child(odd) {
  background-color: #bdc3c7;
  border-bottom: 20px solid white;
}

tr:nth-child(even) {
  background-color: #f1f2f6;
  border-bottom: 20px solid white;
}



